@import "./variables";

.armar-pc {
  &__parrafo {
    width: 400px;
    display: flex;
  }

  & h3 {
    color: $white;
    font-size: 1.9rem;
    padding: 20px;
    align-self: center;
  }

  &__marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5rem 0rem;

    @include laptot-desktop {
      flex-direction: column;
      place-items: center;
    }
    @include tablet {
      flex-direction: column;
      place-items: center;
    }
  }

  &__container {
    width: 400px;
    height: 400px;

    @include movil {
      width: 350px;
    }

    &--amd {
      box-shadow: 0px 20px 50px rgb(212, 11, 11);
    }
    &--intel {
      box-shadow: 0px 20px 50px rgb(0, 53, 226);
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
}
