@import "./variables";
@import "./media-queries";
@import "./keyframes";

.btn-orange {
  background: $orange;
  border: none;
  align-self: center;
}

/* Boton enviar del formulario de contacto */
.button {
  --color: #09ff00c9;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 6px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 16px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
  &::after,
  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: 0.5s ease-out;
    background-color: var(--color);
  }

  &::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
  }

  &:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
  }

  &:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
  }

  &:hover {
    color: var(--color2);
  }

  &:active {
    filter: brightness(0.7);
    transform: scale(0.98);
  }
}

//Boton Secundario Contacto
.button-secundario {
  font-size: 15px;
  margin: 1rem;
  text-transform: uppercase;
  font-family: "Roboto", "Segoe UI", sans-serif;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  padding: 0.7em 2em;
  border: 1px solid rgb(23, 100, 23);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: $green-strong;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  background: $black;
  &:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: $white;
    z-index: -1;
  }

  &:hover,
  &:focus {
    color: $black;
    border: $borde-black;
  }

  &:hover:before,
  &:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    border-radius: 5px;
  }

  &:active {
    transform: scale(0.9);
  }
}
//Boton formulario newsletter
.newsletter__btn {
  position: relative;
  padding: 15px 10px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
  border: $borde-black;

  @include desktop {
    margin-left: 2rem;
  }
  @include movil {
    margin: 1rem;
  }
  & span {
    position: relative;
    color: #fff;
    z-index: 1;
  }

  & .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: red;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
  }

  & .liquid::after,
  & .liquid::before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
  }

  & .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }

  & .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
  }

  &:hover .liquid {
    top: -120px;
  }
}
//-------------------------------
/*Boton EMPEZAR YA de Section PC index */
.section__btn {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #cfef00;
  font-family: "Nunito";
  border: 1px solid transparent;
  align-items: center;
  font-size: 15px;
  margin-left: 1rem;

  @include tablet {
    margin-top: 1rem;
  }

  &:hover {
    background: #a6c900;
  }

  & > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
  }

  &:hover svg {
    transform: translateX(5px);
  }

  &:active {
    transform: scale(0.95);
  }
}
