@import "./variables";

.color-blue {
  color: rgb(75, 75, 197);
  font-weight: 700;
  font-size: 1.2rem;
}

.white-icon {
  color: $white;
}
.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.shadow-box {
  box-shadow: 10px 10px 15px $black;
}

.bg-wave {
  background-image: url(../assets/wave2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hr-color {
  background: linear-gradient(to left, $green-strong 10%, $black 70%);
  height: 10px !important;
  margin: 0;
  opacity: 1;
}
