@import "./variables";

.contact {
  background-color: $black;
  background-image: url(../assets/background2.jpg);
  background-repeat: no-repeat;

  &__subtitulo {
    padding: 2rem;
    font-size: 2.5rem;
  }
  &__form {
    color: $white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  &__label {
    margin: 10px;
    font-size: 1.5rem;
    font-style: italic;
  }

  &__input {
    padding: 10px;
    width: 16rem;
    background-color: $black;
    color: $white;
    border: none;
    border-bottom: $border-bottom;
    &:focus {
      outline: none;
    }
    &--primary {
      margin: 20px;
      background-color: $black;
      color: $white;
      border: 1px solid $white-opacity;
      border-radius: 5px;
      font-size: 1.2rem;
      &:hover {
        background-color: $green-strong;
        color: $black;
        border: $borde-black;
      }
    }

    &--secondary {
      background-color: $white;
      color: $black;
      border: $borde-black;
      font-size: 1.2rem;
      margin-bottom: 20px;
      border-radius: 5px;

      &:hover {
        background-color: $grey;
      }
    }
  }

  &__selector {
    padding: 5px;
    margin: 15px;
    width: 10rem;
    background-color: $black;
    color: $white;
    border-radius: 5px;
    border: $borde-green;
    font-size: 1.2rem;
  }

  &__textArea {
    background-color: $black;
    color: $white;
    border: $borde-green;
    margin: 15px;
    resize: none;
    &:focus {
      outline: none;
    }
  }
}
