@import "./variables";

.contact {
  background-color: $black;
  background-image: url(../assets/background2.jpg);
  background-repeat: no-repeat;

  &__subtitulo {
    padding: 2rem;
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }
  &__form {
    color: $white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  &__label {
    margin: 10px;
    font-size: 1.5rem;
    color: $white;
    text-shadow: 0px 1px 1.5px $black;
    transition: all 0.7s;
    opacity: 1;

    &-position {
      position: relative;
      bottom: 6rem;
    }
  }

  &__input {
    padding: 10px;
    width: 18rem;
    background-color: rgb(12, 12, 12);
    color: $white;
    border: none;
    border-bottom: $border-bottom;
    &:focus {
      outline: none;
    }

    &:placeholder-shown + label {
      position: relative;
      bottom: 3rem;
      right: 6rem;
      opacity: 0;
    }

    &:checked + label {
      color: $green-strong;
    }
  }

  &__selector {
    padding: 5px;
    margin: 15px;
    width: 10rem;
    background-color: $black;
    color: $white;
    border-radius: 5px;
    border: $borde-green;
    font-size: 1.2rem;
  }

  &__textArea {
    position: relative;
    top: 2rem;
    background-color: $black;
    color: $white;
    border: $borde-green;
    margin: 15px;
    resize: none;
    &:focus {
      outline: none;
    }

    &:placeholder-shown + label {
      position: relative;
      right: 4rem;
      bottom: 8rem;
      opacity: 0;
    }
  }

  &__area-position {
    position: relative;
    bottom: 10rem;
    color: white;
    margin-top: 1rem;

    @include movil {
      margin-top: 2rem;
    }

    @include tablet {
      margin-top: 2rem;
    }

    @include laptot-desktop {
      margin-top: 2rem;
    }
  }
}
