$font-general: "Lato";
$black: #000000;
$black-opacity: #00000073;
$white: #ffffff;
$white-opacity: #ffffff37;
$green: #09ff0077;
$green-strong: #09ff00c9;
$grey: grey;
$orange: rgb(255, 68, 0);
$rojo-ladrillo: #c42020;
$red: #ff0000;
$blue: #0000ff;
$borde-green: 1px solid $green;
$borde-black: 1px solid $black;
$border-bottom: 4px solid $green-strong;
$text-shadow-black: 3px 3px 5px $black;
